.navbarContainer{
    background-color: black;
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-around;
    color: azure;
    text-align: center;
    align-items: center;
}

.listContainer{
    display: flex;
    gap: 30px;
    align-items: center;
}

.listContainer li{
    border-radius: 10px;
    border-color: white;
}
.list{
    list-style: none;
    border-radius: 20px;
}

.imgLogo{
    width: 100px;
    height: auto;
    justify-items: end;
}

.navbarContainer { 
    height: 150px;
}