.navbarContainer{
    background-color: black;
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-around;
    color: azure;
    text-align: center;
    align-items: center;
}

.listContainer{
    display: flex;
    gap: 30px;
    align-items: center;
}
.list{
    list-style: none;
}

.imgLogo{
    width: 60px;
    height: auto;
    justify-items: end;
}